In [2]:
import pandas as pd

In [24]:
cro_history = pd.read_csv('./data/sample_cro_history.csv')

In [25]:
cro_history.head()

,Timestamp (UTC),Transaction Description,Currency,Amount,To Currency,To Amount,Native Currency,Native Amount,Native Amount (in USD),Transaction Kind
0,2021-11-06 01:53:13,Convert Dust,CRO,0.046249,NaN,NaN,USD,0.02,0.02,dust_conversion_credited
1,2021-11-06 01:53:13,Convert Dust,USDC,-0.016138,NaN,NaN,USD,-0.02,-0.02,dust_conversion_debited
2,2021-11-06 01:52:44,USDC -> CRO,USDC,-5.897358,CRO,16.900000,USD,5.80,5.80,crypto_exchange
3,2021-11-06 01:52:15,SHIB -> USDC,SHIB,-101069.000000,USDC,5.913496,USD,5.91,5.91,crypto_exchange
4,2021-11-05 07:31:28,CRO Rewards,CRO,5.397231,NaN,NaN,USD,1.69,1.69,referral_card_cashback

In [26]:
cro_card_history = pd.read_csv('./data/sample_cro_card_history.csv')

In [27]:
cro_card_history.head()

,Timestamp (UTC),Transaction Description,Currency,Amount,To Currency,To Amount,Native Currency,Native Amount,Native Amount (in USD),Transaction Kind
0,2021-11-06 18:56:31,Tous Les Jours,USD,-4.50,NaN,NaN,USD,-4.50,-4.50,NaN
1,2021-11-04 18:30:44,Banfield Pet*Wppayment,USD,-56.47,NaN,NaN,USD,-56.47,-56.47,NaN
2,2021-11-04 11:48:53,H Mart San Jose,USD,-12.85,NaN,NaN,USD,-12.85,-12.85,NaN
3,2021-11-04 11:41:38,Tous Les Jours,USD,-4.75,NaN,NaN,USD,-4.75,-4.75,NaN
4,2021-11-04 06:45:56,Comcast California,USD,-70.00,NaN,NaN,USD,-70.00,-70.00,NaN

In [7]:
unique_transaction_types = cro_history['Transaction Description'].unique()
print(unique_transaction_types)

['Convert Dust' 'USDC -> CRO' 'SHIB -> USDC' 'CRO Rewards' 'USDC -> SHIB'
 'Crypto Earn' 'CRO Stake Rewards' 'Crypto Earn Deposit' 'USD -> USDC'
 'USDC -> USD' 'USD -> CRO' 'Card Rebate: Netflix'
 'Crypto Earn Withdrawal' 'CRO Stake' 'Buy CRO' 'Buy SHIB' 'CRO -> USDC']

In [16]:
principal_transactions = cro_history[cro_history['Transaction Description'].isin(('USD -> USDC', 'USD -> CRO'))]

In [20]:
principal_transactions

,Timestamp (UTC),Transaction Description,Currency,Amount,To Currency,To Amount,Native Currency,Native Amount,Native Amount (in USD),Transaction Kind
48,2021-10-25 15:36:59,USD -> USDC,USD,-360.00,USDC,360.00,USD,360.00,360.00,van_purchase
55,2021-10-22 23:21:53,USD -> CRO,USD,-38.39,CRO,205.90,USD,38.39,38.39,van_purchase
56,2021-10-22 21:30:38,USD -> CRO,USD,-18.51,CRO,100.00,USD,18.51,18.51,van_purchase
57,2021-10-22 19:27:22,USD -> CRO,USD,-18.48,CRO,100.00,USD,18.48,18.48,van_purchase
58,2021-10-22 17:16:53,USD -> CRO,USD,-18.64,CRO,100.00,USD,18.64,18.64,van_purchase
59,2021-10-22 16:23:04,USD -> CRO,USD,-18.63,CRO,100.00,USD,18.63,18.63,van_purchase
63,2021-10-21 20:41:06,USD -> CRO,USD,-18.62,CRO,100.00,USD,18.62,18.62,van_purchase
67,2021-10-21 15:37:01,USD -> CRO,USD,-18.73,CRO,100.00,USD,18.73,18.73,van_purchase
81,2021-10-18 18:02:31,USD -> USDC,USD,-500.00,USDC,500.00,USD,500.00,500.00,van_purchase
84,2021-10-15 18:30:41,USD -> USDC,USD,-250.00,USDC,250.00,USD,250.00,250.00,van_purchase
94,2021-10-12 17:42:15,USD -> USDC,USD,-250.00,USDC,250.00,USD,250.00,250.00,van_purchase
110,2021-10-05 15:15:12,USD -> USDC,USD,-500.00,USDC,500.00,USD,500.00,500.00,van_purchase
119,2021-10-01 15:57:25,USD -> USDC,USD,-500.01,USDC,500.01,USD,500.01,500.01,van_purchase
134,2021-09-24 16:20:41,USD -> CRO,USD,-343.39,CRO,2186.90,USD,343.39,343.39,van_purchase
135,2021-09-24 14:13:57,USD -> CRO,USD,-156.60,CRO,1000.00,USD,156.60,156.60,van_purchase
163,2021-09-10 06:51:39,USD -> USDC,USD,-200.10,USDC,200.10,USD,200.10,200.10,van_purchase
235,2021-08-05 14:47:34,USD -> CRO,USD,-199.92,CRO,1606.10,USD,199.92,199.92,van_purchase
252,2021-07-28 15:28:40,USD -> CRO,USD,-99.98,CRO,827.20,USD,99.98,99.98,van_purchase
277,2021-07-14 05:22:02,USD -> USDC,USD,-500.01,USDC,500.01,USD,500.01,500.01,van_purchase
310,2021-06-20 07:45:30,USD -> USDC,USD,-500.12,USDC,497.48,USD,500.12,500.12,van_purchase
330,2021-05-26 15:33:18,USD -> CRO,USD,-399.92,CRO,3098.00,USD,399.92,399.92,van_purchase
337,2021-05-21 16:31:30,USD -> USDC,USD,-499.95,USDC,499.00,USD,499.95,499.95,van_purchase

In [22]:
print('Principal sum: {0} USD'.format(-int(principal_transactions['Amount'].sum())))

Principal sum: 5409 USD