In [2]:
import pandas as pd

In [24]:
cro_history = pd.read_csv('./data/sample_cro_history.csv')

In [25]:
cro_history.head()

,Timestamp (UTC),Transaction Description,Currency,Amount,To Currency,To Amount,Native Currency,Native Amount,Native Amount (in USD),Transaction Kind
0,2021-11-06 01:53:13,Convert Dust,CRO,0.046249,NaN,NaN,USD,0.02,0.02,dust_conversion_credited
1,2021-11-06 01:53:13,Convert Dust,USDC,-0.016138,NaN,NaN,USD,-0.02,-0.02,dust_conversion_debited
2,2021-11-06 01:52:44,USDC -> CRO,USDC,-5.897358,CRO,16.900000,USD,5.80,5.80,crypto_exchange
3,2021-11-06 01:52:15,SHIB -> USDC,SHIB,-101069.000000,USDC,5.913496,USD,5.91,5.91,crypto_exchange
4,2021-11-05 07:31:28,CRO Rewards,CRO,5.397231,NaN,NaN,USD,1.69,1.69,referral_card_cashback

In [32]:
print(cro_history['Transaction Description'].unique())

['Convert Dust' 'USDC -> CRO' 'SHIB -> USDC' 'CRO Rewards' 'USDC -> SHIB'
 'Crypto Earn' 'CRO Stake Rewards' 'Crypto Earn Deposit' 'USD -> USDC'
 'USDC -> USD' 'USD -> CRO' 'Card Rebate: Netflix'
 'Crypto Earn Withdrawal' 'CRO Stake' 'Buy CRO' 'Buy SHIB' 'CRO -> USDC']

In [33]:
cro_card_history = pd.read_csv('./data/sample_cro_card_history.csv')

In [34]:
cro_card_history.head()

,Timestamp (UTC),Transaction Description,Currency,Amount,To Currency,To Amount,Native Currency,Native Amount,Native Amount (in USD),Transaction Kind
0,2021-11-06 18:56:31,Tous Les Jours,USD,-4.50,NaN,NaN,USD,-4.50,-4.50,NaN
1,2021-11-04 18:30:44,Banfield Pet*Wppayment,USD,-56.47,NaN,NaN,USD,-56.47,-56.47,NaN
2,2021-11-04 11:48:53,H Mart San Jose,USD,-12.85,NaN,NaN,USD,-12.85,-12.85,NaN
3,2021-11-04 11:41:38,Tous Les Jours,USD,-4.75,NaN,NaN,USD,-4.75,-4.75,NaN
4,2021-11-04 06:45:56,Comcast California,USD,-70.00,NaN,NaN,USD,-70.00,-70.00,NaN

In [35]:
print(cro_card_history['Transaction Description'].unique())

['Tous Les Jours' 'Banfield Pet*Wppayment' 'H Mart   San Jose'
 'Comcast California' 'Costco Whse #1004' 'USD Deposit' 'Github'
 'Banfield Pet Hospital' 'USDC -> USD' 'Fh* Roaring Camp Railr' 'Yamibuy'
 'Netflix.Com']

In [16]:
principal_transactions = cro_history[cro_history['Transaction Description'].isin(('USD -> USDC', 'USD -> CRO'))]

In [29]:
principal_transactions.head()

,Timestamp (UTC),Transaction Description,Currency,Amount,To Currency,To Amount,Native Currency,Native Amount,Native Amount (in USD),Transaction Kind
48,2021-10-25 15:36:59,USD -> USDC,USD,-360.00,USDC,360.0,USD,360.00,360.00,van_purchase
55,2021-10-22 23:21:53,USD -> CRO,USD,-38.39,CRO,205.9,USD,38.39,38.39,van_purchase
56,2021-10-22 21:30:38,USD -> CRO,USD,-18.51,CRO,100.0,USD,18.51,18.51,van_purchase
57,2021-10-22 19:27:22,USD -> CRO,USD,-18.48,CRO,100.0,USD,18.48,18.48,van_purchase
58,2021-10-22 17:16:53,USD -> CRO,USD,-18.64,CRO,100.0,USD,18.64,18.64,van_purchase

In [38]:
principal_investment = -int(principal_transactions['Amount'].sum())
print('Principal sum: {0} USD'.format(principal_investment))

Principal sum: 5409 USD

In [39]:
expense = -cro_card_history[cro_card_history['Amount'] < 0]['Amount'].sum()
print('Expense: {0} USD'.format(expense))

Expense: 359.32 USD

In [41]:
normalized_investment = principal_investment - expense
print('Normalized investment: {0} USD'.format(normalized_investment))

Normalized investment: 5049.68 USD